body{  font-size: 16px;}
     

.principal{background-color: grey;
text-align: center;}

.negrito{color: red;
}

.beneficio{text-align: center;}

.imagem-beneficios{ width: 50%;}

.imagem{width: 100%;}

.titulo{padding: 20px;}

.lista{display: inline-block;
vertical-align: top;}